* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}
ol{
    list-style: none;
}

.ff-open-sans{
    font-family: 'Open Sans';
}

/* Header */
.main-header {
    /*   width: 1440px; */
    /* max-width: 1440px; */
    max-width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid grey; */
   /*  padding: 0 80px; */


}

.header-logo {
    color: #22202E;
    font-size: 24px;

}

.header-nav {}

.header-nav-list {
    display: flex;
    list-style: none;
    gap: 44px;


}

.header-nav-elem {}

.header-nav-link {
    color: #726E8D;
    font-size: 16px;
}

.header-icons {}

.header-icons-find {}

.header-icons-cart {}

.header-icons-user {}

.main-cat {
  /*   max-width: 1440px; */
  max-width: 1280px;
    margin: 0 auto;
}

.main-cat-vap {
    text-align: center;
    font-size: 36px;
    padding: 80px 0 32px 0;
}

#Category {
    border: none;
    /* padding: 12px 4px 12px 24px; */
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 24px;

}

.cat-choiser {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.cat-choiser-filter {
    display: flex;
    gap: 40px;
}

.cat-choiser-sort {}

.choiser-sort-label {
    font-size: 14px;
    padding-right: 30px;
}

.block-product {
    
    /* max-width:1440px ; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 60px;
    row-gap: 40px;
    column-gap: 20px;
}

.block-product-card {
    width: 100%;
    margin: 0 auto;
    color: #2A254B;
}

.product-card-img {
    
}

.product-card-tite {
    padding-top: 24px;
    font-size: 20px;
    line-height: 28px;
    
    
}

.product-card-price {
    font-size: 18px;
    line-height: 27px;
}
.main-cat>span{
    display: flex;
    justify-content: center;
}
.main-cat-more{
    border: 1px dotted black;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
    margin: 48px 0 40px 0;
    background-color: #F9F9F9;
    color:#2A254B;

}
.main-ad {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;

}
.ad-content-img {
}
.main-ad-content {
padding-left: 50px;    
}
.ad-content-title {
    font-size: 32px;
    line-height: 40px;
    color:#2A254B;
    padding: 71px 0 0 0;
    
}
.ad-content-desc {
    font-size: 16px;
    line-height: 24px;
    padding: 21px 160px 0 0;
    
}
.ad-content-signup {
    background-color: #2A254B;
    padding: 16px 32px;
    color: #FFF;
    margin-top: 216px;
    display: inline-block;
    
    
}
.main-ftr {
    /* display: grid; */
    /* justify-content: space-between; */
    max-width: 1440px;
    margin: 0 auto;
    background-color:#2A254B;
/*     padding: 0 120px; */
}
.main-ftr-block1{
    /* max-width: 1480px; */
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
   /*  justify-content: space-between; */
}
.ftr-mega-menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}
.mega-menu-fst {
    display: flex;
    flex-direction: column;
    
}
.menu-fst-el {
    padding-bottom: 15px;
    
}
.menu-fst-link {
    
    font-size: 14px;
    line-height: 20px;
    color:#FFF;
}
.mega-menu-sec {
}
.menu-sec-el {
    padding-bottom: 15px;
}
.menu-sec-link {
    font-size: 14px;
    line-height: 20px;
    color:#FFF;
}
.mega-menu-thrd {
}
.menu-thrd-el {
    padding-bottom: 15px;
}
.menu-thrd-link {
    font-size: 14px;
    line-height: 20px;
    color:#FFF;
}
.ftr-map {
    display: flex;
    width: 50%;
   justify-content: start;
   width: 642px;
   height: 195px;
   
}
.main-ftr-block2 {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 22px 0;
    border-top: 1px solid #4E4D93;
}
.fst-name-cat{
    font-size: 16px;
}
.ftr-block2-cpr {
    color:#FFF;
    font-size: 14px;
    line-height: 20px;
}
.ftr-block2-socicons {
}
.block2-socicons_link {
    padding-left: 24px;
}
.block2-socicons_img {
}
